{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login-reg.css') }}">
{% endblock %}
{% block body_class %}h100{% endblock %}
{% block body %}
    <main class="form-signin">
        <form method="post">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="form-floating">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label class="w-50">
                    <input type="checkbox" value="remember-me" name="_remember_me" id="_remember_me"> Remember me
                </label>
                <a href="{{ path('app_forgot_password_request') }}">Reset password</a>
            </div>
            <button class="w-50 btn btn-lg btn-primary" type="submit">Sign in</button><a class="w-50 btn btn-lg btn-secondary" href="{{ path('app_register') }}">Register</a>
        </form>
    </main>
{% endblock %}
