{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block head_stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login-reg.css') }}">
{% endblock %}
{% block body_class %}h100{% endblock %}
{% block body %}
    <main class="form-signin">

    {{ form_start(resetForm) }}
        <h1 class="h3 mb-3 fw-normal">Reset your password</h1>
        <div class="form-floating">
        {{ form_row(resetForm.plainPassword, {'attr': {'class':'form-controll'}}) }}
        </div>
        <button class="btn btn-lg btn-primary w-100">Reset password</button>
    {{ form_end(resetForm) }}
    </main>
{% endblock %}
